@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: #111;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

.block {
    display: flex;
    flex-direction: column;
}

.page-content {
    margin: 0 auto;
    max-width: 1410px;
    display: flex;
    justify-content: center;
}

span {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 4px;
}

textarea {
    background-color: #333;
    color: #fff;
    border: 1px solid rgb(118, 118, 118);
    margin-bottom: 16px;
}

#result {
    background-color: #333;
    color: #fff;
    padding: 8px;
    border: 1px solid rgb(118, 118, 118);
    min-height: 141px;
}

.bl1 {
    margin-right: 12px;
}

.blocks {
    display: flex;

}

@media (max-width:366px) {
    .blocks {
        flex-direction: column;
    }
    textarea {
        width: 100%;
    }
    .bl1 {
        margin-right: 0;
    }
}